<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99355011105-8clsg3b22apcpnsu2usadrqlnr28ue0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99355011105-8clsg3b22apcpnsu2usadrqlnr28ue0p</string>
	<key>API_KEY</key>
	<string>AIzaSyB9fYLUimsRIshdj4BB1lfeenBGbB9QpO0</string>
	<key>GCM_SENDER_ID</key>
	<string>99355011105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BIDV.PushNotificationSample</string>
	<key>PROJECT_ID</key>
	<string>testsomething-fd5d9</string>
	<key>STORAGE_BUCKET</key>
	<string>testsomething-fd5d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99355011105:ios:8b917020a8d8d44d381b60</string>
	<key>DATABASE_URL</key>
	<string>https://testsomething-fd5d9.firebaseio.com</string>
</dict>
</plist>